{
    "trailingComma": "es5",
    "tabWidth": 2,
    "useTabs": false,
    "bracketSpacing": true,
    "semi": true,
    "printWidth": 150,
    "singleQuote": true,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "embeddedLanguageFormatting": "auto"
}
